@import "variables";

////////////////////
//# bootstrap 
////////////////////

.p-6 {
    padding: 6rem !important;
}

.p-7 {
    padding: 8rem !important;
}

.rounded,
.md-rounded {
    border-radius: .6rem !important;
}

.bg-primary {
    background-color: $primary !important;
    a {
        color: $font-color;
        &:hover{ color: #fff; }
    }
}

.bg-secondary {
    background-color: $secondary !important;

    /*svgbackgrounds.com*/
    background-color: #5C54AB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%235f57b3' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23635abb' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23685ec2' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%236c62c9' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%237166D0' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%237468d9' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23776be0' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%237b6fe8' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%237f73ee' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%238478F4' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    a {
        color: #fff;
    }
}

.mt--30vh {
    margin-top: -30vh;
}

.mt--40vh {
    margin-top: -40vh;
}

.mt--50vh {
    margin-top: -50vh;
}

@media (max-width: 990px) {
    .mt--30vh,
    .mt--40vh,
    .mt--50vh {
        margin-top: inherit;
    }
}


@media (max-width: 768px) 
{
    .md-not-rounded {
        border-radius: 0 !important;
    }

    .md-order-1 {order:1;}

    .md-order-2 {order:2;}

}


@media (max-width: 540px) 
{
    .sm-not-rounded {
        border-radius: 0rem !important;
    }

}


////////////////////
//# General
////////////////////
body {
    font-family: $font;
    color: $font-color;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $lttspa;
    position: relative;

    /*
    background-image: url('http://ballkanlab.com/themes/kithub/v1.0/assets/img/landings/header-bg.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;*/
    

    &::before {
        content: "";
        position: fixed;
        @include appBg;
        @include cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
        transition: $body-transition;
    }
    &.project {
        background: transparent;
    }
}

a {
    color: $primary;
    text-decoration: underline;
    &:hover {
        color: #35e888;
        /*text-decoration: none;*/
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $h-font;
}

h1 {
    color: $h1-color;
}

h2 {
    color: $h2-color;
}

h3 {
    color: $h3-color;
}

p {
    margin-bottom: 2rem;
}

strong,
.strong {
    font-weight: 700;
}

@media (max-width: 768px) {

    body {
        font-size: $mfs;
        line-height: $mlh;   
    }

}


////////////////////
//# Forms
////////////////////
input,
textarea,
input.form-control,
textarea.form-control {
    border-radius: 2rem;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid $gray-200;
    padding: 1.5rem;
    transition: $form-transition;
    &:focus {
        background-color: rgba(255, 255, 255, 1);
    }
}

textarea.form-control {
    border-radius: .7rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

button[type="submit"] {
    background: $cta-color;
    border: 0;
    padding: 0.5rem 1.5rem;
    transition: $form-transition;
    border-radius: 4px;
    margin: 2rem 0;
    &:hover {
        background: $tertiary;
    }
}

////////////////////
//# Listas
////////////////////
.project ul,
section ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    
    li {
        padding: 0 0 0 2rem;
        &::before {
            content: "";
            position: relative;
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 50px;
            left: -1.5rem;
            top: 1.7rem;
            background: $bullet-color-1;
            display: block;
        }
    }
    i {
        font-size: 2rem;
        color: $primary;
    }
}

////////////////////
//# progress bars ui
////////////////////

.progress {
    height: 50px;
    display: block;
    background: none;
    overflow: visible;
    .skill {
        margin: 1rem 0;
        display: block;
        font-weight: 700;
        font-size: $fs;
        .val {
            float: right;
            font-style: normal;
        }
    }
}

.progress-bar-wrap {
    background: rgba(255, 255, 255, 0.15);
}

.progress-bar {
    width: 1px;
    height: 10px;
    transition: $header-transition;
    background-color: $primary;
}

////////////////////
//# Counts
////////////////////
.counts {
    padding: 70px 0 60px;
    .count-box {
        padding: 2rem;
        width: 100%;
        position: relative;
        text-align: center;
        background: $gray-100;
        border-radius: 0 1rem;
        i {
            position: absolute;
            bottom: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
            background: $gray-100;
            padding: 1rem;
            color: $tertiary;
            border-radius: 99%;
        }
        span {
            font-size: 4rem;
            display: block;
            font-weight: 700;
            color: $gray-600;
        }
        p {
            padding: 0;
            margin: 0;
            font-family: $h-font;
        }
    }
}

////////////////////
// # Testimonials
////////////////////
.testimonials {
    .testimonial-item {
        box-sizing: content-box;
        min-height: 320px;
        .testimonial-img {
            width: 90px;
            border-radius: 0 1rem;
            margin: -7rem 0 0 4rem;
            position: relative;
            z-index: 2;
        }
        h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 45px;
            color: #fff;
        }
        h4 {
            font-size: 14px;
            color: #999;
            margin: 0 0 0 45px;
        }
        .icofont-quote-left,
        .icofont-quote-right {
            font-size: 2rem;
            color: $gray-300;
        }
        .icofont-quote-left {
            display: inline-block;
            left: -5px;
            position: relative;
        }
        .icofont-quote-right {
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
        }
        p {
            font-size: 1rem;
            margin: 2rem 2rem 4rem;
            padding: 2rem 2rem 4rem;
            background: $gray-100;
            border-radius: 0 1rem;
            position: relative;
            z-index: 1;
        }
    }
}

@media (max-width: 767px) {
    .testimonials {
        margin: 30px 10px;
    }
}

////////////////////
//# Header
////////////////////
#header {
    transition: $header-transition;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
    * {
        transition: $header-transition;
    }
    a{ text-decoration: none;}
    .logo {
        margin: 1rem 1rem 2rem 0;
        max-width: 70px;
    }
    h1 {
        font-size: $fs-h3;
        line-height: $lh-h3;
        font-weight: $fw-h2;
        letter-spacing: $lttspa-h3;
        margin: 0 0 1rem;
        padding: 0;
        flex: auto;
        a {
            color: $image-text-over-color;
            line-height: 1;
            display: inline-block;
            &:hover {
                color: $image-text-over-color;
                line-height: 1;
                display: inline-block;
            }
        }
    }
    h2 {
        font-size: $fs-h1;
        line-height: $lh-h1;
        font-weight: $fw-h1;
        letter-spacing: $lttspa-h1;
        a {
            color: $image-text-over-color;
            &:hover {
                color: $image-text-over-color;
            }
        }
        .featured-text {
            color: $image-text-over-color;
        }
    }
    img {
        padding: 0;
        margin: 0;
    }
    .nav-menu {
        a {
            color: $image-text-over-color;
        }
    }
    .social-links {
        margin-top: 40px;
        display: flex;
        a {
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(248, 155, 155, 0);
            color: $image-text-over-color;
            line-height: 1;
            margin-right: 8px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            &:hover {
                background: $primary;
            }
        }
    }
}

@media (max-width: 992px) {
    #header {
        .logo {
            margin: 1rem 1rem 2rem 0 ;
        }
        h1 {
            font-size: 1rem;
            line-height: 1rem;
        }
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            /*padding: 0 4rem;*/
        }
        .social-links {
            margin-top: 15px;
        }
    }
}


@media (max-width: 768px) {
    #header {
        .container {
            padding: 0rem 2rem;
            .logo {
                max-width: 50px;
                margin-bottom: 1rem;
            }
        }
    }
}

/*
@media (max-width: 320px) {
    #header {
        h2 {
            padding: 0 1rem;
        }
    }
}
*/

@import "navegationMenu";

/* Header Top */

#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: $nav-bg-color;
    &.contrast {
        background: $nav-bg-color-contrast;
        a,
        .nav-menu a {
            color: $nav-color-contrast;
        }
    }
    .social-links,
    h2 {
        display: none;
    }
    h1 {
        margin: 0;
        font-size: 2rem;
        line-height: 2.4rem;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-menu {
        margin: 0;
        a {
            color: $nav-color;
        }
    }
    .logo {
        margin: 0 1rem 0 0;
        max-width: 35px;
    }
}

@media (max-width: 992px) {

    #header.header-top {

        .container {
            max-width: 90%;
        }
        
    }

}

@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
        &.contrast {
            background: $mobile-nav-bg-color-contrast;
        }
        h1 {
            /*font-size: 26px;*/
            display: none;
        }
    }
}

////////////////////
//# Page Cover
////////////////////
.cover-header {
    transition: $header-transition;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
    //
    .container {
        z-index: 0;
    }
    * {
        transition: $header-transition;
    }
    .logo {
        margin: 1rem 1rem 1rem 0;
        max-width: 70px;
    }
    h2 {
        font-size: $fs-h3;
        line-height: $lh-h3;
        font-weight: $fw-h2;
        letter-spacing: $lttspa-h3;
        margin: 0 0 1rem;
        padding: 0;
        /*color: $image-text-over-color;*/
        a {
            line-height: 1;
            display: inline-block;
            &:hover {
                /*color: $image-text-over-color;*/
                line-height: 1;
                display: inline-block;
            }
        }
    }
    h1 {
        font-size: $fs-h1;
        line-height: $lh-h1;
        font-weight: $fw-h1;
        letter-spacing: $lttspa-h1;
        margin-bottom: 2rem;
    }
    img {
        padding: 0;
        margin: 0;
    }
    .icofont-scroll-long-down {
        position: absolute;
        display: block;
        font-size: 3rem;
        padding: 1rem;
        border-radius: 99%;
        color: #fff;
        top: 80vh;
    }
    .scroll-down-icon,
    .scroll-down-icon-text {
        font-size: 1.4rem;
        line-height: 1.4rem;
        max-width: 70px;
        margin: 2rem 0 0 0rem;
    }
}

@media (max-width: 992px) {
    .cover-header {
        .container {
            h1 {
                font-size: 3rem;
                line-height: 3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .cover-header {
        .container {            
             padding: 4rem;
            .logo {
                &.iso {
                    max-width: 50px;
                }
            }
            h1 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            p{
                line-height: 1.6rem;
            }
        }
    }
        
}

@media (max-width: 540px) 
{
    .cover-header {
        .container {            
             padding: 2rem;
        }
    }
}

////////////////////
// # Sections General
////////////////////
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    /*top: 6rem;*/
    bottom: 100%;
    opacity: 0;
    transition: $section-transition;
    z-index: 2;
    &.section-show {
        bottom: auto;
        /*top: 60px;*/
        opacity: 1;
        padding-top: 4rem;
        max-width: 100%;
    }
    .container {
        padding: 5rem;
        min-height: 100vh;
    }
}


@media (max-width: 768px) {
    section {

        &.section-show {
            top: 0;
        }
        .container {
            padding: 4rem 2em 2em;
            max-width: 100%;
        }
    }
}


@media (max-width: 320px) 
{
    section {
        &.section-show {
            top: 0;
            padding: 0;
        }
        .container {
            background: rgba(0, 0, 0, 0.07);
        }
    }
}


.section-title {
    margin-bottom: 2rem;
    h2 {
        font-size: $fs-h2;
        line-height: $lh-h2;
        font-weight: $fw-h2;
        letter-spacing: $lttspa-h2;
        padding: 0;
        margin: 0 0 -0.3rem 0;
        color: $h2-color;
        font-family: $h-font;
        position: relative;
        width: fit-content;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            height: 1rem;
            bottom: 6px;
            left: -3%;
            background-color: $primary;
            visibility: visible;
            width: 110%;
            border-radius: 50px;
            transition: all 0.3s ease-in-out 0s;
        }
    }
    h3 {
        line-height: 1rem;
        font-size: 1rem;
        font-weight: 700;
        margin: 0 0 0 1.2rem;
        padding: 0;
    }
    p {
        margin: 0;
        font-size: $fs-h2/2;
        margin: 0rem 0 -0.3rem 0;
        font-weight: $fw-h2;
    }
}

.bg-primary {
    .section-title {
        h2 {
            &:before {
                background-color: $secondary;
            }
        }
    }
}

@media (max-width: 767px) {
    .section-title {
        margin-bottom: 1rem;
        font-size: $fs-h2-sm;
        line-height: $lh-h2-sm;
        &:before {
            bottom: 12px;
            left: 0%;
            height: .5rem;
            bottom: 3px;
            width: 90%;
        }
        h2{
            font-size: $mfs-h2;
        }
        p {
            margin: 0 0 -0.5rem;
            font-size: 1rem;
        }
    }
}


////////////////////
//# Backgrounds
////////////////////
.row-bg-wrap {
    height: 100vh;
    &::before {
        content: "";
        position: fixed;
        @include cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
        margin-left: -50vw;
        left: 50%;
        width: 100vw;
        height: 100vh;
    }
}

.using-image {
    position: relative!important;
}

.using-image::before {
    content: "";
    position: absolute;
    @include cover;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.blend-luminosity {
    mix-blend-mode: luminosity;
}*/

.blend-luminosity::before 
{
    opacity: 0.1;
}

////////////////////
//# cards
////////////////////
.card {
    z-index: 1;
    position: relative;
    overflow: hidden;
    /*background-image: url('../img/favicon.png');*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 0px;
    a{
        color:$primary;
    }
    .info {
        h4 {
            font-size: $fs-h2;
            line-height: $lh-h2;
            font-weight: $fw-h2;
            letter-spacing: $lttspa-h2;
        }
        p {
            padding: 0;
            margin: 0;
        }
    }
}

@media (max-width: 767px) {
    .card {
        .info {
            h4 {
                font-size: $fs-h2-sm;
                line-height: $lh-h2-sm;
                margin-bottom: 1rem;
            }
        }
    }
}


/*Undeline Fxs*/

.featured-text {
    background-image: linear-gradient(120deg, $primary 0%, $tertiary 100%);
    background-repeat: no-repeat;
    background-size: 100% 88%;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    margin: 0;
    padding: 0 0.5rem;
}

@import "about";
////////////////////
// # Resume
////////////////////
.resume {
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 3rem;
        color: $tertiary;
    }
    .resume-item {
        padding: 0 0 1rem 1rem;
        margin-top: -2px;
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        position: relative;
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            font-family: $h-font;
            color: $primary;
            margin-bottom: 2rem;
        }
        h5 {
            font-size: 16px;
            background: rgba(255, 255, 255, 0.15);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 2rem;
            li {
                padding-bottom: 1rem;
            }
        }
        &:last-child {
            padding-bottom: 2rem;
        }
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: $tertiary;
            border: 2px solid $tertiary;
        }
    }
}

////////////////////
//# Servicios
////////////////////
.servicios .icon-box {
    text-align: center;
    padding: 4rem 1rem;
    transition: $servicios-transitions;
    .icon {
        margin: 0 auto;
        width: 64px;
        height: 64px;
        background: $tertiary;
        border-radius: 5px;
        transition: $servicios-icons-transitions;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        transform-style: preserve-3d;
        i {
            color: #fff;
            font-size: 28px;
        }
        &::before {
            position: absolute;
            content: '';
            left: -8px;
            top: -8px;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 5px;
            transition: $servicios-icons-transitions;
            transform: translateZ(-1px);
        }
    }
    h4 {
        margin-bottom: 1rem;
        a {
            color: $font-color
        }
    }
    p {
        margin-bottom: 0;
    }
    &:hover {
        background: $primary;
        border-color: $primary;
        .icon {
            background: #fff;
            i {
                color: $primary;
            }
            &::before {
                background: #35e888;
            }
        }
        h4 a,
        p {
            color: #fff;
        }
    }
}

@import "portfolio";

/**/

@import "contacto";
////////////////////
// # Credits
////////////////////
.credits {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 2;
    a {
        color: $primary;
        transition: 0.3s;
        &:hover {
            color: #fff;
        }
    }
}

@media (max-width: 992px) {
    .credits {
        text-align: center;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
    }
}

////////////////////
//# General
////////////////////
@import "vendors";
//
.preload-icon {
    position: absolute;
    top: 45%;
    left: 45%;
    animation: spinner 2s infinite linear;
    color: $tertiary;
}

//////////////////////
//IMAGENS
////////////////////
img.portrait {
    max-width: 600px;
}

//////////////////////
//SHADOWS
////////////////////
.shadowed,
.md-shadowed
{
    -webkit-box-shadow: -1px 57px 71px -14px rgba(0, 0, 0, 0.4) !important;
    -moz-box-shadow: -1px 57px 71px -14px rgba(0, 0, 0, 0.4) !important;
    box-shadow: -1px 57px 71px -14px rgba(0, 0, 0, 0.4) !important;
}

.bg-primary .shadowed,
.bg-primary .md-shadowed,
.shadowed.primary {
    -webkit-box-shadow: -1px 57px 71px -14px rgba(30, 79, 51, 1)!important;
    -moz-box-shadow: -1px 57px 71px -14px rgba(30, 79, 51, 1)!important;
    box-shadow: -1px 57px 71px -14px rgba(30, 79, 51, 1)!important;
}

.bg-secondary .shadowed,
.bg-secondary .md-shadowed,
.shadowed.secondary {
    -webkit-box-shadow: -1px 57px 71px -14px rgba(67, 58, 158, 1)!important;
    -moz-box-shadow: -1px 57px 71px -14px rgba(67, 58, 158, 1)!important;
    box-shadow: -1px 57px 71px -14px rgba(67, 58, 158, 1)!important;
}

.bg-secondary button.shadowed {
    -webkit-box-shadow: 0px 10px 22px -6px rgba(67, 58, 158, 1)!important;
    -moz-box-shadow: 0px 10px 22px -6px rgba(67, 58, 158, 1)!important;
    box-shadow: 0px 10px 22px -6px #433a9e !important;
}

@media (max-width: 540px)
{
    .md-shadowed,
    .bg-primary .md-shadowed,
    .bg-secondary .md-shadowed
    {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
}



//
@import "animations";
//